spring:
  datasource:
    url: jdbc:postgresql://postgres:5435/order_db
    username: postgres
    password: admin_password_123

  kafka:
    bootstrap-servers: kafka:9092

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: order-service