spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/ecommerce_cart
    username: ${DB_USERNAME:cart_user}
    password: ${DB_PASSWORD:cart_password}

  kafka:
    bootstrap-servers: kafka:9092
  data:
    redis:
      host: redis
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/